.footer {
  padding: 1em 1.5em;
  .footer-content {
    display: flex;
    flex-direction: column;
    .footer-message {
      font-size: 0.95em;
      color: $greyText;
      line-height: 1.5;
    }
    .footer-links {
      list-style: none;
      text-align: center;
      padding-left: 0;
      font-size: 0;
      white-space: nowrap;
      li {
        font-size: 0.95rem;
        display: inline;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-right: 2px solid $blue;
        &:last-child {
          border-width: 0;
        }
      }
      a {
        color: $blue;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    .footer-content {
      flex-direction: row;
      align-items: center;
      .footer-message {
        margin-right: 1.5em;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    .footer-content {
      .footer-message {
        margin-right: 2em;
      }
    }
  }
}
