.loading-animation {
  animation: loadingJ 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  height: 2em;
  border-radius: 1em;
  width: 200px;
  display: inline-block;
}

@keyframes loadingJ {
  0% {
    width: 0%;
    opacity: 0.9;
  }

  100% {
    background-color: $blue;
    width: 100%;
    opacity: 1;
  }
}
