.main-container {
  background-image: linear-gradient(to top, $greyBgLight, $white);
  z-index: 0;
  position: relative;
  .main-section-header {
    h2 {
      font-size: 2.5em;
      font-weight: bold;
      text-align: center;
      color: $blue;
      padding-top: 0.75em;
      padding-bottom: 0.5em;
      margin: 0;
    }
    p {
      color: $greyDark;
      font-size: 1.25em;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main-container {
    .main-section-header {
      h2 {
        font-size: 3em;
        padding-top: 0.75em;
        padding-bottom: 0.25em;
      }
      p {
        font-size: 1.3em;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .main-container {
    .main-section-header {
      h2 {
        font-size: 3.25em;
        padding-top: 0.75em;
        padding-bottom: 0.15em;
      }
      p {
        font-size: 1.4em;
      }
    }
  }
}
