.top-banner-search {
  padding-top: 1em;
  padding-bottom: 4em;
  background-color: $blue;
  color: $white;
  h1 {
    font-size: 2.4em;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
  .banner-message {
    margin-top: 0.5em;
    text-align: center;
    font-size: 1.2em;
    strong {
      color: $yellowDark;
    }
  }
  .search-box {
    display: block;
    margin-top: 1em;
    .form-group {
      flex: 1;
      display: block;
      position: relative;
      padding: 0 0;
      margin-bottom: 0.5em;
      label {
        color: $grey;
        letter-spacing: 2px;
        font-weight: bold;
        text-transform: uppercase;
        &#invalidEmailLable {
          text-transform: none;
          color: red;
        }
      }
      input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 5px;
        border-width: 0;
        height: 3em;
        font-size: 1.5em;
      }
    }
    .btn-banner {
      margin-left: 0;
      width: 100%;
    }
  }
  .banner-sub-message {
    font-size: 1em;
    margin-top: 1.5em;
    color: $yellowDark;
    font-weight: bold;
    .fa {
      margin-right: 0.5em;
    }
  }
}

@media only screen and (min-width: 768px) {
  .top-banner-search {
    padding-top: 2em;
    padding-bottom: 4em;
    background-color: $blue;
    color: $white;
    h1 {
      font-size: 3em;
      font-weight: bold;
      text-align: center;
      margin: 0;
    }
    .banner-message {
      margin-top: 0.5em;
      text-align: center;
      font-size: 1.25em;
      strong {
        color: $yellowDark;
      }
    }
    .search-box {
      display: flex;
      align-items: stretch;
      margin-top: 1em;
      .form-group {
        flex: 1;
        display: flex;
        align-items: stretch;
        position: relative;
        padding: 0 0;
        margin: 0;
        label {
          color: $grey;
          letter-spacing: 2px;
          font-weight: bold;
          text-transform: uppercase;
        }
        input {
        }
      }
      .btn-banner {
        margin-left: 1em;
        width: auto;
        padding: 0.75em 2.5em;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .top-banner-search {
    padding-top: 2em;
    padding-bottom: 4em;
    h1 {
      font-size: 3.25em;
    }
    .banner-message {
      margin-top: 0.5em;
      text-align: center;
      font-size: 1.5em;
      strong {
        color: $yellowDark;
      }
    }
    .search-box {
      display: flex;
      align-items: stretch;
      margin-top: 1em;
      .form-group {
        flex: 1;
        display: flex;
        align-items: stretch;
        position: relative;
        padding: 0 0;
        label {
          color: $grey;
          letter-spacing: 2px;
          font-weight: bold;
          text-transform: uppercase;
        }
        input {
          width: 100%;
          border-radius: 5px;
          border-width: 0;
        }
      }
      .btn-banner {
        margin-left: 1em;
      }
    }
    .banner-sub-message {
      font-size: 1em;
      margin-top: 1.5em;
      color: $yellowDark;
      font-weight: bold;
      .fa {
        margin-right: 0.5em;
      }
    }
  }
}
